<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> Mon Super Blog! </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li routerLinkActive="active">
        <a routerLink="liste" class="nav-item nav-link"> Liste des posts </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="creation-de-post" class="nav-item nav-link"> Création de posts </a>
      </li>
    </ul>

  </div>
</nav>
