<h2> Création de posts </h2>

<form [formGroup]= "postForm" (ngSubmit)="onSubmit()">

  <div class = "form-group">
    <label for= "title" > Titre </label>
    <input type = "text" class= "form-control" id = "title" formControlName= "title">
  </div>

  <div class = "form-group">
    <label for= "content" > Contenu </label>
    <textarea class= "form-control" id = "content" formControlName= "content"></textarea>

  </div>

  <button type="submit" class = "btn btn-primary btn-success" [disabled] = "postForm.invalid"> Enregistrer</button>

</form>
