<h2> Liste des posts </h2>

<div class = "list-group">

<li [ngClass] = "{'list-group-item': true,
                  'list-group-item-success' : post.loveIts > 0,
                  'list-group-item-danger': post.loveIts < 0 }"
    *ngFor = "let post of posts; let i = index" >

  <div class = "col-12">

    <h3 class="title"> Titre: {{ post.title }}</h3>
    <p class="date"> Date de création: {{ post.created_at | date : 'short' }}</p>

  <p >Nombre Love its: {{ post.loveIts }}</p>

  <p>Contenu: {{ post.content }}</p>

  </div>

  <div class = "col-10 btn-group">
  <button class="btn btn-success" (click)="addLove(i)">Love it!</button>
  <button class="btn btn-danger" (click)="removeLove(i)" >Don't love it!</button>
  </div>

  <div class = " col-2 btn-group">
  <button class="btn btn-danger" (click)="onRemovePost(i)"> Supprimer le post </button>
  </div>

</li>


  <button class="btn btn-default" (click)="onNewPost()"> Nouveau Post </button>


</div>
